<!DOCTYPE html>
<html>
<head>
  <title>The Peoples News.</title>
  <link rel="stylesheet" href="main.css">
</head>
<body>
<title>The Peoples News.</title>
<% if defined?(@flash_msg)  and @flash_msg != nil %>
  <div style="text-align: center">
    <%= "Notice: *********#{@flash_msg}************"  %>
    <br>
  </div>
<%end %>
<a href="/about"> About this page </a> 
<a href="/createUser"> Create A new User </a>
<a href="/login"> Login </a>

<% if defined?(session[:email]) and session[:email] != nil %>
  <a href="/logout"> Logout </a>
  <a href="#workspace"> To Workspace </a>
<% end %>
<h1> News Articles:</h1>
<ul>

  <% @newsarticles.each do |newsarticle| %>
    <li>
      <h3><%= newsarticle.title %></h3>
      <p><%= newsarticle.text %></p>
      <p>Author: <%= newsarticle.author %></p>
      <% if defined?(session[:email]) and session[:email] != nil and @current_user %>
      <%if newsarticle.user_id.to_s == @current_user.id.to_s %>
      <p><a href="/newsArticle/<%=newsarticle.id%>/edit"> Edit </a> | <a href="/newsArticle/<%=newsarticle.id%>/show"> Show </a>
        <form method="POST" action="/newsArticle/<%=newsarticle.id%>/destroy">
          <input id="hidden" type="hidden" name="_method" value="DELETE">
          <input type ="submit" name ="" value ="Delete Article">
          <!--<input type="submit"/> -->
        </form>
      </p>
        <%end %>
      <%end %>
    </li>
  <% end %>
</ul>
<h2> Users of this app </h2>
<ul>
  <% @users.each do |user| %>
    <li><%= user.email %></li>
  <% end %>
</ul>
<% if defined?(session[:email]) and session[:email] != nil %>
  <h1 id="workspace"> Workspace </h1>

  <p> You are logged in as: <%= session[:email] %></p>
  <p></p>
  <p></p>

  <% if defined?(session[:email]) and session[:email] != nil %>
<h2> <a href="/newsarticles/new">Create new Article</a> </h2>
    <%end%>
<p></p>
<p></p>
<p></p>
<% end %>

</body>
</html>